# Dependencies
node_modules
.pnpm-store
.yarn

# Next.js
.next
out
build
.swc

# Environment variables
.env
.env*.local
.env.development
.env.production

# Vercel
.vercel

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*

# Testing
coverage
.nyc_output
*.lcov
.jest

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem

# Certificates
*.p12
*.key
*.crt

# Misc
*.log
*.pid
*.seed
*.pid.lock

# Turbo
.turbo

# PWA
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map

# Storybook
storybook-static

# ESLint
.eslintcache

# Prettier
.prettierignore

# Local Netlify folder
.netlify

# Sentry
.sentryclirc

# Cache
.cache
*.cache

# Temp files
tmp
temp
*.tmp
*.temp
